@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import-normalize;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #262a59;
  color: #ffffff;
}
